@model CoreEntites.ViewModel.ForgetPasswordViewModel
@using CoreEntites.Common.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Templates</title>
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        @@media all and (max-width: 650px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            a {
                white-space: nowrap;
            }

            table [class="contenttable"] {
                width: 100% !important;
            }

            .width570 {
                width: 100% !important;
                max-width: 570px;
            }
        }

        @@media all and (max-width: 500px) {
            .t-one {
                width: 100% !important;
                display: block;
            }

            .three {
                text-align: left !important;
            }

            .seven span {
                font-size: 14px !important;
                padding: 0 0 0 10px !important;
            }

            .seven .sp-1 {
                width: 60px !important;
            }

            .f-five {
                width: 100% !important;
                display: block;
                text-align: center !important;
                margin: 0 0 10px 0;
            }

            .fr-seven, .fr-three {
                width: 100% !important;
                text-align: center !important;
                display: block;
            }

            .fr-seven {
                margin: 0 0 10px 0 !important;
            }

            .w-auto {
                width: auto !important;
                text-align: left !important;
            }

            .ft-12 td {
                font-size: 12px !important;
            }

            table td img {
                max-width: 100% !important;
            }
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; min-width: 100%;" yahoo="fix">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff" style="background: #fff;">
        <tr>
            <td>
                <table class="width570" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="font-family: Arial,sans-serif; border-collapse: collapse; box-sizing: border-box;">
                                <tbody>
                                    <tr>
                                        <td height="10">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>

                                                    <tr>

                                                        <td width="75" style="padding: 7px 12px;">
                                                            <img alt=""  src="@WebConfigurationHelper.GetAppSettingValue("SiteUrl")/images/logo.png"style="vertical-align: middle; margin-left: 7px; padding: 10px;">
                                                            
                                                        </td>


                                                        <td width="8" bgcolor="#ffffff" style="width: 8px; background-color: #ffffff;"></td>


                                                        @*<td align="center" valign="middle" style="font-family: Arial; padding: 7px 12px; color: #fff; font-size: 27px; vertical-align: middle; border-right: 2px solid #fff; background-color: #6c6c6c; text-align: left;"
                                                            bgcolor="#6c6c6c">
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                <tr>
                                                                    <td width="50px" style="padding-right: 10px;">
                                                                        <img alt="" src="@WebConfigurationHelper.GetAppSettingValue("SiteUrl")/Content/EmailTemplate/Images/Alert2.png" style="vertical-align: middle;">
                                                                    </td>
                                                                    <td style="font-family: Arial; font-size: 16px; color: #ffffff; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; text-transform: uppercase">PASSWORD RESET</td>
                                                                </tr>
                                                            </table>
                                                        </td>*@



                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="10" style="height: 8px; line-height: 8px; background: #fffffff;" bgcolor="#ffffff">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: Arial,sans-serif; font-size: 14px; color: #404041; text-transform: uppercase; text-align: center; padding: 12px 10px;">
                                            **This is an auto-generated Email, please do not reply**
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="height: 8px; line-height: 8px; background: #fff;" bgcolor="#fff">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background: #ffffff; border: 0px solid #ffffff;" class="ft-12">
                                                <tbody>

                                                    <tr>
                                                        <td valign="top" width="142" bgcolor="#eff4f9" style="font-family: Arial; color: #ffffff; font-size: 18px; text-align: left; padding: 20px 20px 20px 20px;">
                                                            <p style="font-family: Arial; color: #404041; font-size: 16px; text-align: left;">
                                                                Hi @Model.Name,
                                                            </p>
                                                            <p style="font-family: Arial; color: #404041; font-size: 16px; text-align: left;">
                                                                We've received a request to reset your Poologics password. To reset your password, please click the reset password link below.

                                                                If you didn't initiate a request to reset your password, please ignore this email.
                                                            </p>
                                                            <p style="font-family: Arial; color: #404041; font-size: 16px; text-align: left;">- Accentrix Team</p>

                                                        </td>


                                                    </tr>
                                                    <tr><td style="height: 10px;"></td></tr>
                                                    <tr>
                                                        <td align="center" bgcolor="#ffffff">
                                                            <table width="25%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="  line-height: 20px; display: block; width: 150px; background-color: #ffffff; vertical-align: middle" align="center">
                                                                            <a style=" line-height:30px; display:block; text-decoration:none; color:#fff; padding:10px; background-color:#4c9ed9"
                                                                               href="@WebConfigurationHelper.GetAppSettingValue("SiteUrl")/Account/ResetPassword?Id=@Model.tempUserId">Reset Password</a>
                                                                        </td>
                                                                    </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px;"></td></tr>

                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>


                                    @*<tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="20" bgcolor="#6c6c6c" style="width: 20px; background-color: #6c6c6c;">&nbsp;</td>

                                                        <td bgcolor="#6c6c6c" width="255" style="background-color: #6c6c6c; width: 255px;" height="50" valign="middle">
                                                            <img style="vertical-align:bottom; display:block;" src="@WebConfigurationHelper.GetAppSettingValue("SiteUrl")/Content/EmailTemplate/Images/logo-footer.png" alt="" />
                                                        </td>
                                                        <td width="8" bgcolor="#ffffff" style="width: 8px; background-color: #ffffff;">&nbsp;</td>
                                                        <td style="font-family: Arial; font-size: 11px; color: #fff; text-align: center; line-height: 18px; background-color: #6c6c6c;">

                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center"><span style="display: block; margin: 0 0 5px 0; line-height: 18px; font-family: Arial; font-size: 11px; color: #fff;">BE SOCIAL WITH POOLOGICS!</span></td>
                                                                </tr>

                                                                <tr>

                                                                    <td align="center"></td>
                                                                </tr>
                                                            </table>




                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>*@

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

