@model CoreEntites.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Reset Password</h4>
        <hr />        
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group">
            @*@Html.LabelFor(model => model.Newpassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Newpassword, new { @class = "form-control", @placeholder = "New password" })
                @Html.ValidationMessageFor(model => model.Newpassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.Confirmpassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Confirmpassword, new { @class = "form-control", @placeholder = "Confirm new password" })
                @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset Password" class="btn btn-default" />
            </div>
            <p>
                @Html.ActionLink("Back to login?", "Login")
            </p>
        </div>
    </div>
}

